<!DOCTYPE html>
<html>

<head>
    <title>Welcome to the game!</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Welcome to the most interesting game in the world!</h1>
    <div class="loginpage">
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder= "nickname">
                <input type="text" placeholder= "password">
                <input type="text" placeholder= "mail">
                <button>Create</button>
                <p class="message">Already registered?<a href="#">Login</a></p>
            </form>
            <form class="login">
                <input type="text" placeholder= "nickname">
                <input type="text" placeholder= "password">
                <button>Login</button>
                <p class="message">Not registered?<a href="#">Register</a></p>
            </form>
        </div>
    </div>

    <script src=""></script>

    {% block content %}
    {% endblock %}

</body>

</html>